<section id="contact" class="contact section">

    <div class="section-title">
        <div>
          <span class="text-warning" >Contact</span>
          <h2>Contact</h2>
          <div class="section-header-line mx-auto"></div>
        </div>
      </div>
  

    <div class="container" >

      <div class="row gy-4">

        <div class="col-lg-5">

          <div class="info-wrap">
            <div class="info-item d-flex">
              <i class="fa-solid fa-location-dot"></i>
              <div>
                <h3>Addres</h3>
                <p>İstanbul / KARTAL</p>
              </div>
            </div>

            <div class="info-item d-flex" >
              <i class="fa-solid fa-phone"></i>
              <div>
                <h3>Telefon</h3>
                <p><a href="tel:05378796337">+90 537 879 6337</a> </p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" >
              <i class="fa-solid fa-at"></i>
              <div>
                <h3>E-Mail</h3>
                <p> <a href="mailTo:irfn.keles@gmail.com">irfn.keles&#64;gmail.com </a></p>
              </div>
            </div><!-- End Info Item -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385688.4624145041!2d28.72949379076314!3d40.95539199369501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1728171896652!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <div class="col-lg-7">
          <div  class="php-email-form" >
            <div class="row gy-4">

              <div class="col-md-6">
                <label for="name-field" class="pb-2">İsim Soyisim</label>
                <input type="text" name="name" id="name-field" class="form-control" required="">
              </div>

              <div class="col-md-6">
                <label for="email-field" class="pb-2">E-mail</label>
                <input type="email" class="form-control" name="email" id="email-field" required="">
              </div>

              <div class="col-md-12">
                <label for="subject-field" class="pb-2">Konu</label>
                <input type="text" class="form-control" name="subject" id="subject-field" required="">
              </div>

              <div class="col-md-12">
                <label for="message-field" class="pb-2">Mesaj</label>
                <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
                <span class="d-inline-block" tabindex="0" data-bs-toggle="popover"  data-bs-container="body" data-bs-placement="top" data-bs-trigger="hover focus" data-bs-content="İletişim formu kısa süreliğine devre dışı bırakılmıştır.">
                  <button  type="submit" disabled>Gönder</button>
                </span>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </section>