<section id="portfolio" class="portfolio section">

  <div class="section-title">
    <div>
      <span class="text-warning">Portfolio</span>
      <h2>Portfolio</h2>
      <div class="section-header-line mx-auto"></div>
    </div>
    <p class="w-100 text-center">Her bir proje, benim için öğrenme ve deneyim kazanma fırsatı sundu. Kullanıcı odaklı
      bir yaklaşım benimsediğim için, projelerimde estetik ve fonksiyonelliği dengelemeye çalıştım.</p>
    <p> Aşağıda, gerçekleştirdiğim bazı projeleri ve bu projelerde kullandığım teknolojileri bulabilirsiniz.</p>
  </div>

  <div class="container">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <i class="fa-solid fa-triangle-exclamation me-3 fs-3 fa-beat"></i>
      <div>
        İçerikler kaldırıldı. Kısa bir süreden sonra tekrar yüklenecek.
      </div>
    </div>

  </div>

</section>