<section id="services" class="services section">

  <div class="section-title">
    <div>
      <span class="text-warning">Service</span>
      <h2>Service</h2>
      <div class="section-header-line mx-auto"></div>
    </div>
    <p class="w-100 text-center">İhtiyaçlarınıza özel profesyonel çözümler sunarak dijital dünyada başarılı olmanız için tüm gücümüzle yanınızdayız.</p>
  </div>

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <div class="icon"><i class="fa-solid fa-object-group"></i></div>
          <h4>
            <div class="stretched-link">Web Design</div>
          </h4>
          <p>
            Kullanıcı odaklı, estetik ve işlevsel web tasarımları ile markaların dijital kimliklerini öne çıkaran
            çözümler sunar. Görsel iletişimi güçlü ve modern tasarımlar ile hedef kitleye etkili bir şekilde ulaşmayı
            sağlar.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <div class="icon"><i class="fa-solid fa-code"></i></div>
          <h4>
            <div class="stretched-link">Web Development</div>
          </h4>
          <p>
            Yenilikçi ve güvenli web yazılım çözümleri ile işletmelerin dijital dönüşümüne katkı sağlar. Hızlı,
            ölçeklenebilir ve yüksek performanslı web uygulamaları geliştirerek iş süreçlerini güçlendirir.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <div class="icon"><i class="fa-solid fa-bug-slash"></i></div>
          <h4>
            <div class="stretched-link">Code Optimization</div>
          </h4>
          <p>
            Yazılım verimliliğini artırmak için mevcut kodları optimize ederek sistem performansını en üst düzeye
            çıkarır. Daha temiz, hızlı ve sürdürülebilir yazılım altyapıları oluşturur.
          </p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex">
        <div class="service-item position-relative">
          <div class="icon"><i class="fa-solid fa-rotate"></i></div>
          <h4>
            <div class="stretched-link">Code Review and Refactoring</div>
          </h4>
          <p>
            Yazılımın uzun vadeli başarısını güvence altına almak amacıyla mevcut kodları analiz edip, yeniden
            yapılandırır. Performans ve sürdürülebilirlik açısından iyileştirilmiş kod yapıları sağlar.
          </p>
        </div>
      </div>

    </div>


  </div>

</section>