<section id="about" class="about section light-background" data-aos="fade-up" data-aos-duration="1000">

    <div class="section-title">
      <div>
        <span class="text-warning" >About US</span>
        <h2>About US</h2>
        <div class="section-header-line mx-auto"></div>
      </div>
    </div>

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content">
          <p>
            Web geliştirme alanında yetkinliklerimi projelere dönüştürerek, yenilikçi ve performans odaklı çözümler sunuyorum. Sürekli kendimi geliştirerek, modern teknolojilerle işinizi bir adım öteye taşımak için buradayım.
          </p>
          <ul>
            <li><i class="fa-solid fa-check"></i> <span>Angular, TypeScript, C#, ASP.NET Core gibi güçlü teknolojilerde uzmanlık.</span></li>
            <li><i class="fa-solid fa-check"></i> <span>Kullanıcı deneyimi ve performans optimizasyonuna odaklanan projeler.</span></li>
            <li><i class="fa-solid fa-check"></i> <span>Teknolojik yenilikleri takip ederek sürekli gelişim ve öğrenme tutkusu.</span></li>
          </ul>
        </div>

        <div class="col-lg-6">
          <p>
            Daha fazlasını öğrenmek ve birlikte çalışmak için heyecan verici projelere adım atmaya hazır mısınız?
          </p>
          <div class="read-more" (click)="openAboutDetail()"><span>Detayları Gör</span><i class="fa-solid fa-arrow-right"></i></div>
        </div>

      </div>

    </div>
  </section>