<section id="hero" class="position-relative banner-image" style="background-image: url('/img/background2.jpg');">
    <div class="banner-conetent container justify-content-center d-flex h-100">
        <div class="row gap-0 p-0 m-0 w-100">
            <div class="col-md-6 text-white justify-content-center align-items-center d-flex">
                <div class="">
                    <h2 class="banner-title" data-aos="fade-right"> Hello,</h2>
                    <h1 class="banner-subTitle " data-aos="fade-right"> I'm İrfan Keleş</h1>
                    <h2 class="custom-h2" data-aos="fade-right"><span class="banner-animation-text">{{ displayText }}</span><span class="cursor">|</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative w-100  justify-content-center d-flex" >
        <a href="#about" class="justify-content-center align-items-center d-flex">
            <div class="arrow-down cursor-pointer flash">
                <i class="fa-solid fa-chevron-down fa-beat m-0 p-0"></i>
            </div>
        </a>
    </div>
</section>