<section id="clients" class="clients section light-background">
 
    <div class="container p-0">

      <div class="swiper init-swiper clientSlider">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="/img/client/c-sharp.png" class="img-fluid" alt="C# (C-Sharp)"></div>
          <div class="swiper-slide"><img src="/img/client/asp-net.png" class="img-fluid" alt="Asp.Net"></div>
          <div class="swiper-slide"><img src="/img/client/net-core.png" class="img-fluid" alt="Asp.Net Core"></div>
          <div class="swiper-slide"><img src="/img/client/mssql.png" class="img-fluid" alt="MSSql"></div>
          <div class="swiper-slide"><img src="/img/client/mongodb-icon.svg" class="img-fluid" alt="Mongo"></div>
          <div class="swiper-slide"><img src="/img/client/redis.png" class="img-fluid" alt="Redis"></div>
          <div class="swiper-slide"><img src="/img/client/angularjs.png" class="img-fluid" alt="Angular Js"></div>
          <div class="swiper-slide"><img src="/img/client/angular.png" class="img-fluid" alt="Angular"></div>
          <div class="swiper-slide"><img src="/img/client/html.png" class="img-fluid" alt="HTML"></div>
          <div class="swiper-slide"><img src="/img/client/css.png" class="img-fluid" alt="CSS"></div>
          <div class="swiper-slide"><img src="/img/client/javascript.png" class="img-fluid" alt="JavaScript"></div>
          <div class="swiper-slide"><img src="/img/client/typescript.png" class="img-fluid" alt="TypeScript"></div>

        </div>
      </div>

    </div>

  </section>