<section id="why-us" class="section why-us light-background" data-builder="section">

  <div class="container-fluid">

    <div class="row gy-4 mx-5">

      <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

        <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="why-us-header"><span>Dijital Dünyada Başarılı Olmanın Anahtarı: </span><strong class="why-us-sub-header"> Profesyonel Bir Web Sitesi</strong></h3>
          <p>
            Markanızı dijital ortamda güçlendirmenin yollarını keşfedin.
          </p>
        </div>

        <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Neden bir web sitesi yaptırmalıyım?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Günümüzde bir web sitesi, işletmelerin çevrimiçi varlıklarını güçlendirmek için kritik bir öneme
                  sahiptir. Potansiyel müşterilere ulaşmanın en etkili yolu, etkileyici bir web sitesi aracılığıyla
                  bilgi sağlamaktır. Ayrıca, web siteniz, markanızı tanıtmak, ürünlerinizi sergilemek ve
                  müşterilerinizle etkileşimde bulunmak için bir platform sağlar.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Web sitemin tasarımında nelere dikkat etmeliyim?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Web sitesi tasarımında, kullanıcı deneyimi (UX) ön planda olmalıdır. Responsive tasarım, mobil
                  cihazlarda iyi görünme ve hızlı yüklenme süreleri gibi unsurlar, kullanıcıların sitede daha uzun süre
                  kalmasını sağlar. Ayrıca, görsel estetik, kullanıcıların dikkatini çekmek ve markanızı temsil etmek
                  için önemlidir
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree">
                  Bir web sitesi ne kadar sürede tamamlanır?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  Web sitesi geliştirme süresi, projenin karmaşıklığına bağlıdır. Basit bir web sitesi genellikle birkaç
                  hafta içinde tamamlanabilirken, kapsamlı bir e-ticaret platformu veya özel bir uygulama geliştirme
                  süreci birkaç ay alabilir. Proje sürecini planlarken, ihtiyaçlarınızı ve hedeflerinizi göz önünde
                  bulundurmalısınız.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-5 order-1 order-lg-2 why-us-img">
        <img src="/img/why-us.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
      </div>
    </div>

  </div>

</section>